HELP.md
AuthorizationService/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gitattributes

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

application.properties
.env.*